@model IEnumerable<MVCSmartClient01.Models.emlNotificationLog>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.IdNotificationLog)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IdNotification)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SendAttemptSeq)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SendAttemptDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LogMessage)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.IdNotificationLog)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IdNotification)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SendAttemptSeq)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SendAttemptDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LogMessage)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.IdNotificationLog }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.IdNotificationLog })
        </td>
    </tr>
}

</table>
