@model MVCSmartClient01.Models.trxDocMandatoryDetail

@{
    Html.EnableClientValidation();
}
<link href="~/Content/css/font-awesome.min.css" rel="stylesheet" />
<script type="text/javascript" src="~/Scripts/SmartApps.js"></script>
<script type="text/javascript">
    function OnFilesUploadComplete(s, e) {
        var imageBaseName = '@Model.ImageBaseName';
    }
    function DisplayAttachmentDoc(imageType) {
        var fileEkstensi = '.jpg';
        switch (imageType) {
            case '1':
                fileEkstensi = '_1' + '@Model.FileExt';
                break;
            case '2':
                fileEkstensi = '_2' + '@Model.FileExt2';
                break;
        }
        //alert(fileEkstensi);
        //172283c6-ef5e-42f6-98ae-50c55523d414.pdf
        window.open(('../Content/DocumentImages/XYZ123456789' + fileEkstensi).replace('XYZ123456789', '@Model.ImageBaseName'), 'KTP', 'toolbar=no, left=100,top=25,location=no, directories=no, status=no, menubar=no, width=700, height=700');
        return false;
    }
</script>

<div id="legend" style="margin-bottom:-10px">
    <legend style="font-size:medium" class="">@ViewBag.JudulDetail</legend>
</div>
<style>
    #fileInputAtt1 {
        width: 0;
        height: 0;
    }
    #fileInputAtt2 {
        width: 0;
        height: 0;
    }
</style>

@using (Html.BeginForm("_AddEditDocDetail", "TrxDocMandatoryDetail", FormMethod.Post))
{
    @Html.HiddenFor(model => model.IdDocMandatoryDetail)
    @Html.HiddenFor(model => model.IdRekanan)
    @Html.HiddenFor(model => model.IdTypeOfDocument)
    @Html.HiddenFor(model => model.ImageBaseName)
    @Html.HiddenFor(model => model.ProcInfo)
    @Html.HiddenFor(model => model.CreatedUser)
    @Html.HiddenFor(model => model.CreatedDate)

    @Html.HiddenFor(model => model.FileExt, new { id = "id4FileExtAtt1" })
    @Html.HiddenFor(model => model.FileExt2, new { id = "id4FileExtAtt2" })

    <div class="row">
        <form role="form">
            <div class="form-group col-xs-10 col-sm-5 col-md-5 col-lg-5">
                @Html.DevExpress().Label(
            settings =>
            {
                settings.ControlStyle.CssClass = "col-xs-3 control-label";
                settings.Text = "Tahun Laporan";
                settings.AssociatedControlName = "nomorDokumen";
            }
        ).GetHtml()
                @Html.DevExpress().TextBox(
            settings =>
            {
                settings.Name = "nomorDokumen";
                settings.ControlStyle.CssClass = "editor";
                settings.Width = 250;
            }
          ).Bind(Model.nomorDokumen).GetHtml()
                @Html.ValidationMessageFor(model => model.nomorDokumen, null, new { @class = "validator" })
                <div class="clearfix"></div>
                <br/>
                @Html.DevExpress().Label(
            settings =>
            {
                settings.ControlStyle.CssClass = "col-xs-3 control-label";
                settings.Text = "Nama KAP";
                settings.AssociatedControlName = "badanPembuatDokumen";
            }
        ).GetHtml()
                @Html.DevExpress().TextBox(
            settings =>
            {
                settings.Name = "badanPembuatDokumen";
                settings.ControlStyle.CssClass = "editor";
                settings.Width = 250;
            }
).Bind(Model.badanPembuatDokumen).GetHtml()
                @Html.ValidationMessageFor(model => model.badanPembuatDokumen, null, new { @class = "validator" })
            </div>
            <div class="form-group col-xs-10 col-sm-5 col-md-5 col-lg-5">
                @Html.DevExpress().Label(
            settings =>
            {
                settings.Text = "Catatan";
                settings.ControlStyle.CssClass = "col-xs-3 control-label";
                settings.AssociatedControlName = "catatan";
            }
        ).GetHtml()
                @Html.DevExpress().Memo(
            settings =>
            {
                settings.Name = "catatan";
                settings.Height = 60;
                settings.Width = 250;
                settings.Properties.ValidationSettings.RequiredField.IsRequired = true;
            }
          ).Bind(Model.catatan).GetHtml()
                @Html.ValidationMessageFor(model => model.catatan, null, new { @class = "validator" })
            </div>
            <div class="clearfix"></div>
            <div class="form-group col-xs-10 col-sm-5 col-md-5 col-lg-5">

                @Html.DevExpress().Label(
            settings =>
            {
                settings.ControlStyle.CssClass = "col-xs-3 control-label";
                settings.Text = "Laporan Keuangan";
                settings.AssociatedControlName = "JudulAtt1";
            }
            ).GetHtml()

                <div class="col-xs-1 nopadding">
                    <input type='file' id='fileInputAtt1' name='file' style='display: none'/>
                    <button id='btnUploadAtt1' class="fa fa-upload" data-toggle="tooltip" title="Upload dokumen !"></button>
                </div>
                <div id="MyDivAtt1" class="col-xs-5 nopadding">
                    <a href="javascript:void(0);" id="MyDivAtt1" onclick="DisplayMe1(this)">File yang diupload</a>
                </div>
                <div id="MyDelAtt1" class="col-xs-1 nopadding">
                    <a href="javascript:void(0);" id="MyDelAtt1" onclick="RemoveMeLocal1(this)">X</a>
                </div>
                <div class="clearfix"></div>
                <div id="DisplayAtt1">
                    <!-- The Modal -->
                    <div id="MyModal1" class="modal">
                        <div class="modal-content">
                            <span class="close" onclick="CloseMe1()" style=padding:0px;>&times;</span>
                            <object data=@Html.Raw("/Content/DocumentImages/" + @Model.ImageBaseName + "_Att1" +  @Model.FileExt + "?" + DateTime.Now.Ticks.ToString()) class="mdlcontain"></object>
                        </div>
                    </div>
                </div>


                @*@Html.DevExpress().UploadControl(
            ucSettings =>
            {
                ucSettings.ControlStyle.CssClass = "col-xs-1 control-label";
                ucSettings.Name = "uploadControl1";
                ucSettings.ShowUploadButton = true;
                ucSettings.UploadButton.Text = "Upload Laporan Keuangan (pdf)";
                ucSettings.AddUploadButtonsSpacing = 5;
                ucSettings.AddUploadButtonsHorizontalPosition = AddUploadButtonsHorizontalPosition.Left;
                ucSettings.CallbackRouteValues = new { Controller = "TrxDocMandatoryDetail", Action = "ImageUpload", UploaderCtl = "uploadControl1" };
                ucSettings.ClientSideEvents.FileUploadComplete = "OnFilesUploadComplete";
                ucSettings.Width = 250;
                ucSettings.ToolTip = "Upload file .JPG, .JPEG, .JPE, .PNG, .PDF dengan kapasitas kurang dari 4 MB";
            }).GetHtml()
                &nbsp;&nbsp;
                <button style="font-size:small" type="button" onclick="return DisplayAttachmentDoc('1')">Gambar</button>*@
            </div>
            <div class="form-group col-xs-10 col-sm-5 col-md-5 col-lg-5">


                @Html.DevExpress().Label(
            settings =>
            {
                settings.ControlStyle.CssClass = "col-xs-3 control-label";
                settings.Text = "Tanda Terima OJK";
                settings.AssociatedControlName = "JudulAtt2";
            }
            ).GetHtml()

                <div class="col-xs-1 nopadding">
                    <input type='file' id='fileInputAtt2' name='file' style='display: none'/>
                    <button id='btnUploadAtt2' class="fa fa-upload" data-toggle="tooltip" title="Upload dokumen !"></button>
                </div>
                <div id="MyDivAtt2" class="col-xs-5 nopadding">
                    <a href="javascript:void(0);" id="MyDivAtt2" onclick="DisplayMe2(this)">File yang diupload</a>
                </div>
                <div id="MyDelAtt2" class="col-xs-1 nopadding">
                    <a href="javascript:void(0);" id="MyDelAtt2" onclick="RemoveMeLocal2(this)">X</a>
                </div>
                <div class="clearfix"></div>
                <div id="DisplayAtt2">
                    <!-- The Modal -->
                    <div id="MyModal2" class="modal">
                        <div class="modal-content">
                            <span class="close" onclick="CloseMe2()" style=padding:0px;>&times;</span>
                            <object data=@Html.Raw("/Content/DocumentImages/" + @Model.ImageBaseName + "_Att2" +  @Model.FileExt2 + "?" + DateTime.Now.Ticks.ToString()) class="mdlcontain"></object>
                        </div>
                    </div>
                </div>

                @*@Html.DevExpress().UploadControl(
            ucSettings =>
            {
                ucSettings.ControlStyle.CssClass = "col-xs-1 control-label";
                ucSettings.Name = "uploadControl2";
                ucSettings.ShowUploadButton = true;
                ucSettings.UploadButton.Text = "Upload Tanda Terima OJK (pdf)";
                ucSettings.AddUploadButtonsSpacing = 5;
                ucSettings.AddUploadButtonsHorizontalPosition = AddUploadButtonsHorizontalPosition.Left;
                ucSettings.CallbackRouteValues = new { Controller = "TrxDocMandatoryDetail", Action = "ImageUpload", UploaderCtl = "uploadControl2" };
                ucSettings.ClientSideEvents.FileUploadComplete = "OnFilesUploadComplete";
                ucSettings.Width = 250;
                ucSettings.ToolTip = "Upload file .JPG, .JPEG, .JPE, .PNG, .PDF dengan kapasitas kurang dari 4 MB";
            }).GetHtml()
                &nbsp;&nbsp;
                <button style="font-size:small" type="button" onclick="return DisplayAttachmentDoc('2')">Gambar</button>*@
            </div>
            <div class="clearfix"></div>
            <div class="form-group col-xs-10 col-sm-5 col-md-5 col-lg-5">
                <button type="button" class="btn btn-success dropdown-toggle" onclick="$('#btnUpdate').click();">
                    <span class="glyphicon glyphicon-ok"></span>&nbsp;Simpan
                </button>
                <button type="button" class="btn btn-danger dropdown-toggle" onclick="$('#btnCancel').click();">
                    <span class="glyphicon glyphicon-remove"></span>&nbsp;Batal
                </button>
            </div>
            <div class="form-group col-xs-10 col-sm-5 col-md-5 col-lg-5">
                <div>
                    &nbsp;
                </div>
            </div>

        </form>
        @Html.DevExpress().Button(
            settings =>
            {
                settings.Name = "btnUpdate";
                settings.ControlStyle.CssClass = "button";
                settings.Text = "Update";
                settings.UseSubmitBehavior = true;
                settings.ClientVisible = false;
            }
        ).GetHtml()
        @Html.DevExpress().Button(
            settings =>
            {
                settings.Name = "btnCancel";
                settings.ControlStyle.CssClass = "button";
                settings.Text = "Cancel";
                settings.ClientSideEvents.Click = "function(s, e){ document.location='" + DevExpressHelper.GetUrl(new { Controller = "TrxDocMandatoryDetail", Action = "GetByRekananTab" }) + "'; }";
                settings.ClientVisible = false;
            }
        ).GetHtml()
    </div>
}

<script>

    $(function () {

        if ($('#id4FileExtAtt1').val() == '') {
            document.getElementById("MyDivAtt1").style.display = "none";
            document.getElementById("MyDelAtt1").style.display = "none";
            var $el = $('#fileInput');
            $el.val('');
        }

        if ($('#id4FileExtAtt2').val() == '') {
            document.getElementById("MyDivAtt2").style.display = "none";
            document.getElementById("MyDelAtt2").style.display = "none";
            var $el = $('#fileInput');
            $el.val('');
        }

        $('#btnUploadAtt1').click(function (e) {
            e.preventDefault();
            $('#fileInputAtt1').click();
        }
        );
        $('#btnUploadAtt2').click(function (e) {
            e.preventDefault();
            $('#fileInputAtt2').click();
        }
        );

    });
    ///ini yang digunakan
    $('#fileInputAtt1').change(function (e) {
        file = e.target.files[0];
        var myFileExt = (file.name.match(/[^\\\/]\.([^.\\\/]+)$/) || [null]).pop();
        $('#id4FileExtAtt1').val('.' + myFileExt);
        DoUpload('@Model.ImageBaseName' + '_Att1', 'MyDivAtt1', 'MyDelAtt1', '1');
    });

    $('#fileInputAtt2').change(function (e) {
        file = e.target.files[0];
        var myFileExt = (file.name.match(/[^\\\/]\.([^.\\\/]+)$/) || [null]).pop();
        $('#id4FileExtAtt2').val('.' + myFileExt);
        DoUpload('@Model.ImageBaseName' + '_Att2', 'MyDivAtt2', 'MyDelAtt2', '2');
    });
    function RemoveMeLocal1(elm) {
        $('#id4FileExtAtt1').val('');
        RemoveMe(elm, 'MyDivAtt1');
    }

    function RemoveMeLocal2(elm) {
        $('#id4FileExtAtt2').val('');
        RemoveMe(elm, 'MyDivAtt2');
    }
    var myModal1 = document.getElementById('MyModal1');
    var myModal2 = document.getElementById('MyModal2');

</script>
