@model IEnumerable<MVCSmartClient01.Models.trxTenagaAhli_ARC>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.IdAction)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IdTenagaAhli)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IdRekanan)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Sertifikasi)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Gelar)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AsosiasiProfesi)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Experience)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.IdAction)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IdTenagaAhli)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IdRekanan)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Sertifikasi)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Gelar)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AsosiasiProfesi)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Experience)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.IdTenagaAhli }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.IdTenagaAhli })
        </td>
    </tr>
}

</table>
