@model MVCSmartClient01.Models.trxDetailPekerjaanHeaderForm
@{
    ViewBag.Title = "Index";
}
<div id="legend" style="margin-bottom:-10px">
    <legend style="font-size:medium" class="">Detail Pekerjaan</legend>
</div>

<div style="margin-bottom:10px">
    @using (Html.BeginForm("AddEditPekerjaanHeader", "TrxDetailPekerjaanHeader", FormMethod.Post))
    {
        @Html.HiddenFor(model => model.IdPekerjaanHeader)
        @Html.HiddenFor(model => model.GuidHeader)
        @Html.HiddenFor(model => model.IdRekanan)
        @Html.HiddenFor(model => model.CreatedDate)
        @Html.HiddenFor(model => model.CreatedUser)

        <div>
            @Html.DevExpress().Button(
            settings =>
            {
                settings.Name = "btnUpdate";
                settings.ControlStyle.CssClass = "button";
                settings.Text = "Update";
                settings.UseSubmitBehavior = true;
                settings.ClientVisible = false;
            }
        ).GetHtml()
            @Html.DevExpress().Button(
            settings =>
            {
                settings.Name = "btnCancel";
                settings.ControlStyle.CssClass = "button";
                settings.Text = "Cancel";
                settings.ClientSideEvents.Click = "function(s, e){ document.location='" + DevExpressHelper.GetUrl(new { Controller = "TrxDetailPekerjaanHeader", Action = "GetByRekanan" }) + "'; }";
                settings.ClientVisible = false;
            }
        ).GetHtml()
        </div>
    }
</div>
<div class="form-group">
    <label for="textinput">Download Template :</label>
    <div>
        @*@Html.ActionLink("ListAsuransiBulanan.xlsx", "ListAsuransiBulanan", "TrxDetailPekerjaanHeader", new { fileName = "ListAsuransiBulanan" }, new { @target = "_blank" })*@
        <a href='~/Content/FileDownload/ListAsuransiBulanan.xlsx' target="_blank">ListAsuransiBulanan.xlsx</a>
    </div>
</div>
<label for="textinput">Upload File :</label>
@using (Html.BeginForm("_PopulatePekerjaanFromFileAS_1M", "TrxDetailPekerjaanHeader", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <input type="file" name="file"/>
    <input type="submit" value="OK" />
    <input type="hidden" id="IdPekerjaanHeader" name='IdPekerjaanHeader' value=@Model.IdPekerjaanHeader />
}
<div style="margin-bottom:10px;margin-top:10px">
    @Html.Partial("_AddEditPekerjaanAS_1MHeader", Model, new ViewDataDictionary { { "GuidHeader", ViewData["GuidHeader"] } })
</div>
<button type="button" class="btn btn-success dropdown-toggle" onclick="$('#btnUpdate').click();">
    <span class="glyphicon glyphicon-ok"></span>&nbsp;Simpan
</button>
<button type="button" class="btn btn-danger dropdown-toggle" onclick="$('#btnCancel').click();">
    <span class="glyphicon glyphicon-remove"></span>&nbsp;Batal
</button>
